@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
  text-decoration: none;
}

h1,
h2 {
  color: rgb(196, 72, 0);
  font-size: 40px;
  line-height: 48px;
}
