@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:wght@400;500;700&display=swap');

.hide {
  display: none;
}

:root {
  --color-f: #fff;
  --color-0: #000;
  --color-1: #272a31;
  --color-1b: #212c33;
  --color-1c: #535353;
  --color-2: #ec5242;
  --color-2b: #ffbfb8;
  --color-2c: #ffdfdb;
  --color-3: #d3d3d3;
  --color-3b: #f3f3f3;
  --color-5: #fcbf49;
  --color-6: #ccc;
}

* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'lato', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  margin: 0 0;
  padding: 0 0;
}

img {
  width: 100%;
}

.grid-container {
  display: grid;
}

h1 {
  color: var(--color-2);
  font-size: 2.2rem;
  font-weight: 900;
  line-height: 2.6rem;
  margin: 0.3rem 0;
}

h2 {
  color: var(--color-2);
  font-size: 28px;
  font-weight: 500;
  line-height: 34px;
  margin: 0.6rem 0;
}

h3 {
  color: var(--color-3);
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 34px;
  margin: 0.6rem 0;
}

h4 {
  color: var(--color-2);
  margin: 0 0;
  font-size: 1rem;
  font-weight: 700;
}

span {
  font-size: 1.4rem;
  color: var(--color-2);
  font-weight: 500;
}

p {
  color: var(--color-1);
}

.home,
.main,
.talks,
.about,
.archive,
.partners,
footer {
  padding: 1rem 1.3rem;
  display: flex;
  flex-direction: column;
  margin: 0 0;
  text-align: center;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding: 1rem 1.5rem;
  padding-bottom: 2rem;
  background: rgba(0, 0, 0, 0.9) url("../images/bg-header-mobile.png") no-repeat;
  background-size: cover;
}

.menu-mobile-container {
  position: fixed;
  display: none;
  flex-direction: column;
  padding-right: 1rem;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.menu-x,
.menu-hamb {
  display: flex;
  justify-content: end;
  width: 2rem;
  height: auto;
  font-size: 2rem;
}

.menu-x,
.menu-hamb,
.menu-mobile-list li a {
  color: #fff;
  font-size: 2rem;
  z-index: 5;
}

.menu-hamb,
.menu-mobile-list li a {
  color: #fff;
  font-weight: 700;
}

.menu-x {
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  margin: 0.4rem 2rem;
}

.menu-mobile-list li {
  padding: 2rem 2rem;
}

.menu-mobile-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  z-index: 1;
}

.logo-carousel img {
  height: 2.4rem;
  width: auto;
  gap: 1rem;
  padding: 0 0;
  margin: 0 0;
}

.speakers-pic img {
  height: 7rem;
  width: auto;
  justify-items: center;
  align-items: center;
}

.workshops img {
  width: auto;
  height: 3rem;
}

.jt-footer img {
  height: 3rem;
  width: auto;
}

.more-speakers img {
  width: auto;
}

.name-logo a img {
  display: none;
  height: 2.4rem;
  width: auto;
  font-size: 2rem;
  justify-content: center;
  align-self: center;
  align-items: center;
}

.menu-desktop-item {
  display: none;
}

.home {
  text-align: left;
  background: rgba(0, 0, 0, 0.9) url("../images/bg-home-mobile.png") no-repeat;
  background-size: cover;
}

.home-heading {
  margin: 1rem 0;
}

.home p {
  background-color: var(--color-3b);
  border: solid var(--color-f) 0.2rem;
  padding: 1rem 0.8rem;
  margin: 1rem -0.4rem;
  color: var(--color-1);
  font-size: 0.9rem;
  line-height: 1.4rem;
  text-align: justify;
}

.event-details {
  margin-bottom: 4rem;
}

.event-details h2 {
  color: var(--color-1c);
  font-size: 28px;
  font-weight: 1000;
  line-height: 30px;
  margin: 0.4rem 0;
}

.event-details .event-location {
  margin: 0 0;
  border-style: none;
  padding: 0 0;
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--color-1c);
}

.main,
.talks {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main {
  background: var(--color-1) url("../images/bg-pattern.png") repeat;
}

.h3-header {
  display: grid;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0;
  margin: 1rem 1rem;
}

.splitter {
  border: solid var(--color-3b);
  margin: 0 0;
  padding: 0 0;
  font-size: 1rem;
  line-height: 0.4rem;
  border-width: 0.3px;
  border-radius: 3px;
  align-self: center;
  text-align: center;
}

.h3-header .dash {
  border: solid var(--color-2b);
  font-size: 1rem;
  line-height: 0.4rem;
  border-width: 0.3px;
  border-radius: 3px;
  width: 3rem;
  justify-self: center;
}

.talks h3,
.event-logo h3 {
  color: var(--color-1);
}

.event-logo h3 {
  font-size: 1.6rem;
  color: var(--color-1c);
}

.title h3 {
  color: white;
  text-align: center;
  font-size: 1.8rem;
  margin: 0 0;
}

footer .h3-header h3,
.about .h3-header h3,
.archive .h3-header h3 {
  color: var(--color-1);
}

.workshops {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0 0;
}

.workshops-items {
  display: grid;
  grid-template-columns: 1fr 3fr 8fr;
  justify-items: center;
  align-items: center;
  padding: 1rem 2rem;
  background: rgba(100, 100, 110, 0.3);
  gap: 0.8rem;
  cursor: pointer;
}

.workshops-items:hover {
  /* border: solid white 0.2rem; */
  outline: solid 0.2rem var(--color-3);
  outline-offset: -0.2rem;
}

.workshops-items h4 {
  text-align: justify;
}

.workshops p {
  color: var(--color-3);
  font-size: 0.8rem;
  text-align: justify;
}

.see-program {
  display: none;
}

.join {
  width: 80%;
  margin: 2rem 3rem;
  cursor: pointer;
  color: var(--color-3b);
  background-color: var(--color-2);
  font-size: medium;
  font-weight: 900;
  border-style: none;
  padding: 2rem 2rem;
  align-self: center;
}

.join:hover {
  color: var(--color-2);
  background-color: var(--color-3b);
  outline: solid 0.2rem var(--color-2);
  outline-offset: -0.2rem;
}

.talks {
  display: flex;
  flex-direction: column;
}

.speakers {
  display: grid;
  padding: 0 0;
}

.speakers-items {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-items: center;
  align-items: center;
  padding: 1.3rem 0;
}

.speakers-info {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  text-align: left;
}

.speakers-info h4 {
  color: var(--color-1b);
  font-weight: 900;
}

.speakers-info span {
  font-style: italic;
  font-size: 0.8rem;
}

.speakers-dash {
  border: solid var(--color-3);
  font-size: 1rem;
  border-width: 0.3px;
  border-radius: 3px;
  margin-left: 0;
  width: 1.2rem;
}

.speakers-info p {
  font-size: 0.7rem;
  line-height: 1rem;
  margin: 0 0;
}

.more {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-top: 2.5rem;
  justify-content: center;
}

.more-speakers {
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  width: 100%;
  padding: 0.8rem 7rem;
  cursor: pointer;
  color: var(--color-2);
  background-color: var(--color-f);
  border: solid 0.1rem var(--color-3);
}

.more-speakers:hover {
  font-weight: 900;
  outline: solid 0.2rem var(--color-2);
  outline-offset: -0.2rem;
}

.more-speakers span {
  font-size: 1rem;
  font-weight: 500;
  align-self: flex-start;
}

.about {
  background: rgba(255, 255, 255, 0.9) url("../images/bg-about-mobile.png") repeat-y;
  background-size: 100%;
  background-position: top;
}

.about span {
  padding-top: 2rem;
}

.about h2 {
  font-size: 2rem;
  font-weight: 900;
  padding-bottom: 2rem;
}

.about p {
  background-color: var(--color-f);
  border: solid var(--color-3b) 0.2rem;
  padding: 1.5rem 1.5rem;
  color: var(--color-1);
  font-size: 0.9rem;
  line-height: 1.4rem;
  text-align: center;
}

.about .center-p {
  border-style: none;
  background: rgba(255, 255, 255, 0);
}

.about .center-p span {
  color: var(--color-1b);
  font-size: 0.9rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  text-decoration: underline #222;
}

.event-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about .event-logo .about-dash {
  display: flex;
  flex-direction: row;
  align-self: center;
  border: solid var(--color-2b);
  border-width: 0.3px;
  border-radius: 3px;
  width: 2rem;
  margin-top: 0.4rem;
}

.about-banner {
  width: 95%;
  align-self: center;
  padding: 2rem 3.5rem;
  border: solid var(--color-6);
  background-color: var(--color-f);
}

.pic-set {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.pic-box-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background:
    linear-gradient(
      rgba(236, 82, 66, 0.5),
      rgba(236, 82, 66, 0.5)
    ),
    url("../images/event1.png");
  background-size: cover;
  height: 12rem;
  width: 100%;
}

.pic-box-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background:
    linear-gradient(
      rgba(236, 82, 66, 0.5),
      rgba(236, 82, 66, 0.5)
    ),
    url("../images/event2.png");
  background-size: cover;
  height: 12rem;
  width: 100%;
}

.title {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.title p {
  color: white;
  text-align: center;
  margin: 0 0;
}

.partners {
  background-color: var(--color-1);
}

.partners .h3-header h3 {
  color: var(--color-3);
}

.partners .h3-header .dash {
  border-color: var(--color-2);
}

.partners .center-p {
  color: var(--color-3b);
}

.logo-carousel {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.jt-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: left;
  font-size: 1rem;
  gap: 3rem;
  padding: 1rem 1rem;
}

/* ##### TABLET DESIGN ##### */

@media screen and (min-width: 600px) {
  header {
    justify-content: space-between;
  }

  .name-logo a img {
    display: flex;
  }

  .home,
  header,
  .main,
  .talks,
  .about,
  .archive,
  .partners,
  footer {
    padding: 1rem 17%;
  }
}

/* ##### DESKTOP DESIGN ##### */

/* ##### DESKTOP DESIGN ##### */

/* ##### DESKTOP DESIGN ##### */

@media screen and (min-width: 768px) {
  .home,
  header,
  .main,
  .talks,
  .about,
  .archive,
  .partners,
  footer {
    padding: 1rem 5rem;
  }

  header {
    background: var(--color-f);
    justify-content: space-between;
  }

  .name-logo a img {
    display: flex;
  }

  .menu-hamb {
    display: none;
  }

  #menu-hamb {
    display: none;
  }

  .name-logo {
    align-self: center;
  }

  .menu-desktop-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 0;
    gap: 2rem;
    text-decoration: none;
  }

  .menu-desktop-item a {
    color: var(--color-1);
  }

  .menu-desktop-item li {
    padding: 0.4rem 0.4rem;
    border: solid transparent;
  }

  .cc-footer {
    color: var(--color-2);
    border: solid var(--color-2) !important;
    cursor: pointer;
  }

  .cc-footer:hover {
    font-weight: 900;
    color: var(--color-f);
    background-color: var(--color-2);
  }

  h1 {
    font-size: 3rem;
    line-height: 3rem;
  }

  .home p,
  .about p,
  .center-p {
    width: 65%;
  }

  .about p,
  .center-p {
    align-self: center;
  }

  .workshops {
    flex-direction: row;
    gap: 0.2rem;
  }

  .workshops-items {
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: 100%;
    gap: 0.5rem;
    padding: 1rem 1rem;
  }

  .workshops-items h4,
  .workshops-items p {
    margin: 0 0;
    text-align: center;
  }

  .see-program {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 3rem;
  }

  .see-program h4 {
    color: var(--color-3);
    cursor: pointer;
    text-decoration: underline;
  }

  .join {
    display: none;
  }

  .speakers {
    grid-template-columns: 47% 47%;
    column-gap: 6%;
  }

  .more {
    display: none;
  }

  .about-banner {
    width: 50%;
    margin-bottom: 3rem;
  }

  .pic-set {
    margin-top: 2rem;
    flex-direction: row;
  }
}
